:root {
	--transition-time: 500ms;
}

.clock {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	transition: all var(--transition-time);
}
	
.clock__content {
	font-size: max(50px, 10vh);
	font-family: 'Calibri', 'Arial';
	-webkit-filter: invert(100%);
	filter: invert(100%);
	color: white;
	transition: all var(--transition-time);
}